<h1>List Details</h1>

<div class="show">
  <p>
  <div style="padding:20px">
    <strong>Description:</strong>
    <%= @list.description %>
  </div>
  <div style="padding:20px">
    <strong>Completed:</strong>
    <%= @list.completed ? 'Yes' : 'No' %>
  </div>
  </p>

  </div>
<%= link_to 'Back', lists_path, class:'action' %>