<h1>Task Details</h1>

<div class="show">

    <tr>
      <td class="description">
        <h3>Description:
        <%= @task.description %>
        </h3>
      </td>
      <hr>
      <td class="completed">
        <h3>Completed:
          <%= @task.completed ? 'Yes' : 'No' %>
        </h3>
      </td>
    <td>

  </div>
<%= link_to 'Back', todo_tasks_path, class:'action' %>