
  html{
    background-color: rgb(242, 242, 223);
  }
  h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }

  h3{
    padding:20px;
  }

  table {
      width: 100%;
      border: 3px solid #000000;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px; 
    margin-bottom: 50px;
    align-content: center;
    border: 1px solid #000000;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  input[type="submit"] {
    background-color: #bdc7be; 
    color: black;
    padding: 12px 20px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }

  input[type="submit"]:hover {
    background-color: #a9a6a6;
  }

  
  .actions {
    white-space: nowrap;
    align-items: center;
    border: 1px solid #000000;
  }

  .action{
    padding: 8px;
    color: black;
    width: 150px;
    margin-left: 15px;
    background-color: rgb(234, 232, 230);
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  .action_todo{
    padding: 8px;
    color: black;
    width: 80px;
    margin-left: 15px;
    background-color: rgb(234, 232, 230);
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  .action_todo:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(184, 156, 156);
  }
  
  .description{
    width: 50%;

    border: 1px solid #000000;
  }

  .action:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(184, 156, 156);
  }

  .newList {
    display: inline-flex;
    padding: 20px;
    color: black;
    background-color: #bdc7be;
    font-size: 20px;
    margin-right: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;

    border: 1px solid #000000;
  }

  .newList:hover {
    cursor: pointer;
    color: white;
  }

  .text-box{
    width: 40%;
    height: 50px;
    font-size: 18px;
    margin-left: 50px;
  }

  .between{
    padding: 20px;
    margin-left: 30%;
  }

  .spaces{
    padding: 20px;
    margin-left: 30%;
    display: inline-flex;
  }

  hr{
    padding: 0px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
  }

  .show{
    background-color: rgb(208, 222, 231);
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 25%;
    text-align: center;
  }

  .completed{
    border: 1px solid #000000;
  }

  .checkbox-wrapper {
    display: inline-block;
}

.custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 4px; 
    display: inline-block;
    position: relative;
    cursor: pointer;
    transform: scale(1.5); 
    margin-left: 65px; 
}

  .custom-checkbox:checked {
      background-color: #469e53;
      border-color: #000000;
  }

  .custom-checkbox:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 2px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }